@use '../../abstracts/variables' as *;
@use '../../abstracts/mixins' as *;


.main-footer{
    width: 100%;
    padding: 3.6rem;
    background-color: var(--firstColorPrimary);

    @include responsive(tablet){
        padding: 3.2rem 4.8rem;
    }

    @include responsive(desktop){
        padding: 4.8rem 10rem;
    }

    &__logo{
        width: 14rem;
        margin-bottom: 3.2rem;

        @include responsive(desktop){
            margin-bottom: 4.8rem;
        }
    }
}

// Contenedor de footer

.main-footer__container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: minmax(9rem, 11rem) 1fr minmax(2rem, 15rem);
    justify-items: center;

    @include responsive(desktop){
        grid-template-columns: repeat(3,1fr);
        grid-template-columns: minmax(18rem, 22rem) 1fr minmax(28rem, 32rem);
        grid-template-rows: repeat(1,minmax(14rem, 18rem));
    }

    @include responsive(1600px){
        grid-template-rows: repeat(1,minmax(12rem, 15rem));
    }
}


// Primera parte del Footer

.main-footer__first-part{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @include responsive(desktop){
        align-items: flex-start;

    }
}


// Tercera parte del Footer

.main-footer__third-part{
    display: flex;
    flex-direction: column;
    align-items: center;
}