@use '../../abstracts/variables' as *;
@use '../../abstracts/mixins' as *;

// Contenedor de Hero

.main-hero{
    position: relative;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(2,minmax(30rem,34rem));
    row-gap: 2.4rem;
    padding: 0rem 2.4rem;
    padding-bottom: 3.2rem;
    background-color: rgb(250, 249 , 250);

    &__image{
        justify-self: center;
    }

    @include responsive(700px){
        grid-template-rows: minmax(60rem, 34rem) 29rem;
        padding-bottom: 1.2rem;
    }

    @include responsive(tablet){
        grid-template-rows: minmax(66rem, 34rem) 29rem;
        padding: 0rem 4.8rem;
        row-gap: 4rem;
    }

    @include responsive(900px){
        grid-template-rows: minmax(66rem, 34rem) 26rem;
    }

    @include responsive(desktop){
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(1, minmax(66rem, 68rem));
        row-gap: 0;
        column-gap: 3rem;
        padding: 0rem 10rem;
    }
}

// Primer contenedor (main-hero__info)

.main-hero__info{
    text-align: center;

    @include responsive(tablet){
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @include responsive(desktop){
        text-align: start;
        justify-content: center;
        align-items: flex-start;
    }
}

// Segundo contenedor (main-hero__image)

.main-hero__image{
    position: relative;
    width: 100%;
    height: 34rem;
    order: -1;
    overflow: hidden;

    &::before{
        position: absolute;
        content: '';
        top: 0;
        background-image: url('../images/bg-intro-mobile.svg');
        background-repeat: no-repeat;
        width: 100%;
        height: 34rem;

        @include responsive(500px){
            width: 100%;
            background-size: 100% 100%;

        }

        @include responsive(700px){
            height: 60rem;
        }

        @include responsive(tablet){
            width: 100%;
            height: 80rem;
            background-size: 100% 100%;
        }

        @include responsive(desktop){
            top: 0;
            right: 0;
            // Su tamaño es 68rem
            background-image: url('../images/bg-intro-desktop.svg');
            width: 130%;
            height: 111%;
            transform: translateY(-24rem) translateX(22rem);
        }

        @include responsive(1100px){
            width: 120%;
            // transform: translateY(-26rem) translateX(0);
        }

        @include responsive(1200px){
            width: 125%;
        }

        @include responsive(1300px){
            width: 130%;
            transform: translateY(-24rem) translateX(16rem);
        }

        @include responsive(1500px){
            width: 130%;
            transform: translateY(-24rem) translateX(16rem);
        }

        @include responsive(2300px){
            width: 120%;
        }
    }

    @include responsive(580px){
        width: 80%;
    }

    @include responsive(700px){
        height: 60rem;
    }

    @include responsive(tablet){
        height: 66rem;
    }

    @include responsive(desktop){
        position: absolute;
        width: 60rem;
        height: 90rem;
        top: 0;
        right: 0;
    }

    @include responsive(1120px){
        width: 70rem;
    }

    & img{
        width: 100%;
        height: 130%;
        transform: translateY(-12rem);

        @include responsive(700px){
            transform: translateY(-15rem);
        }

        @include responsive(tablet){
            height: 120%;
            transform: translateY(-10rem);
        }

        @include responsive(desktop){
            transform: translateX(11rem) translateY(-14rem);
        }

        @include responsive(1300px){
            transform: translateX(8rem) translateY(-14rem);
        }
    }
}


