@use '../../abstracts/variables' as *;
@use '../../abstracts/mixins' as *;

// Contenedor (main)

.main{
    width: 100%;
    padding: 0 2.4rem;
    padding-top: 6.4rem;
    background-color: rgb(242, 243, 246);

    @include responsive(tablet){
        
    }

    @include responsive(desktop){
        padding: 0rem 10rem;
        padding-top: 12rem;
    }

    &__subtitle{
        margin-bottom: 1.8rem;

        @include responsive(tablet){
            width: 90%;
        }

        @include responsive(desktop){
            margin-bottom: 2.4rem;
        }
    }

    &__paragraph{

        @include responsive(tablet){
            width: 70%;
        }

        @include responsive(desktop){
            margin-bottom: 1.2rem;
        }

        @include responsive(1200px){
            width: 50%;
        }

        @include responsive(3000px){
            width: 45%;
        }

        &--edit{
            width: 100%;
            font-size: 1.5rem;

            @include responsive(500px){
                width: 70%;
            }

            @include responsive(tablet){
                width: 80%;
                font-size: 1.6rem;
                margin-bottom: 1.6rem;
            }

            @include responsive(desktop){
                margin-bottom: 2.4rem;
            }
        }
    }
}


// Primera parte del main

.main__first-part{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6rem;
    text-align: center;

    @include responsive(tablet){
        margin-bottom: 7.2rem;
    }

    @include responsive(desktop){
        align-items: flex-start;
        text-align: start;
    }
}

// Segunda parte del main

.main__second-part{
    display: grid;
    margin-bottom: 6.4rem;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(4,minmax(23rem,1fr));
    row-gap: 3.2rem;

    @include responsive(tablet){
        grid-template-columns: repeat(2, minmax(30rem,1fr));
        grid-template-rows: repeat(1,1fr);
        column-gap: 2.4rem;
        row-gap: 4rem;
        margin-bottom: 7.2rem;
    }
    
    @include responsive(desktop){
        grid-template-columns: repeat(auto-fit,minmax(26rem,1fr));
        grid-template-rows: repeat(2,1fr);
        column-gap: 3rem;
        row-gap: 2.4rem;
        margin-bottom: 9rem;
    }

    @include responsive(1345px){
        grid-template-rows: repeat(1,1fr);
    }
}

// Cajas

.main__box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @include responsive(desktop){
        align-items: flex-start;
        text-align: start;
    }
}