/* Fuentes para el proyecto */

/* Variables de Fuentes en CSS */

:root{
    --fontTitles: 'Public Sans', sans-serif;
    --fontText: 'Public Sans', sans-serif;

    // font-weight: 300 (para texto)
    // font-weight: 400 (para títulos)
    // font-weight: 700 (para botones)
}

/*Colores*/

/* Variables de colores en CSS */

:root{
    --firstColorPrimary: #2D314D;
    --secondColorPrimary: #9597A5;
    --colorWhite: #FFFFFF;
    --colorGreen: #30C88F;
    --colorButtons: linear-gradient(90deg, rgba(51,211,94,1) 0%, rgba(42,182,217,1) 100%);
    --colorText: #9597A5;
    --colorTitles: #2D314D;
    --colorFooter: #2D314D;
}
