@use '../../abstracts/variables' as *;
@use '../../abstracts/mixins' as *;

.main__subtitle--article{
    margin-bottom: 3.2rem;
    font-weight: 100;

    @include responsive(tablet){
        margin-bottom: 3.6rem;
    }

    @include responsive(desktop){
        margin-bottom: 4rem;
    }
}